li.svelte-1311eql{list-style:none;margin-right:2rem}a.svelte-1311eql{padding:0.8rem;text-decoration:none;font-size:1.5rem;color:#2a2823;border-radius:10px}a.svelte-1311eql:hover{background-color:#f9fefc;color:#990000}a.active.svelte-1311eql{color:#f9fefc;background-color:#990000}ul.svelte-176bq19{margin:0px;padding:1rem;display:flex;justify-content:flex-start;align-items:center}li.svelte-176bq19{list-style:none;margin-right:2rem}img.svelte-176bq19{width:8rem}/* style.css */
body {
  margin: 0;
  background-color: #f9fefc;
  font-family: sans-serif;
}

main {
  padding: 1rem;
  margin: 2rem auto;
  max-width: 40rem;
}footer.svelte-19ghi52{padding:0px;margin:0px;margin-left:1rem;position:absolute;bottom:0}